
.container {
    position: fixed;
    display: flex;
}


a.button, a.login-logout {
    background-color: #2f2f2f;
    color: rgb(238, 231, 231);
    padding: 18px 27px;
    box-shadow: 4px 5px 18px 3px #aeb1ba;
    border-radius: 8px;
    margin: 2px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
a.back-button {
    display: flex;
    color: #2f2f2f;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-right: 25px;
}

.login-logout {
    position: fixed;
    right: 0;
    margin-right: 20px;
}

.back-logo {
    padding: 2px;
    margin-top: 15px;
    height: 25px;
    width: 25px;
}