.container {
    font-size: 25px;
    text-align: center;
    padding: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 8px 3px #e5e5e5;
    border-radius: 10px;
    background-color: rgb(42, 74, 94);
}

button {
    font-size: 25px;
    text-align: center;
    size: 40px;
    color: #d8d8d8;
    padding: 8px;
    cursor: pointer;
    background-color: #000000;
    border: none;
    border-radius: 10px;
}

input {
    font-size: medium;
    border-radius: 5px;
    border: 1px solid #dedada;
    padding: 15px;
}

label {
    color: rgb(241, 230, 19);
}