a {
    background-color: #1f5c82;
    color: rgb(238, 231, 231);
    padding: 18px 27px;
    box-shadow: 4px 5px 18px 3px #aeb1ba;
    border-radius: 8px;
    margin: 15px;
    margin-top: 70px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.container {
    text-align: center;
    margin-top: 150px;
}