<!-- <div class="card">
    <img src={{user?.image}} alt="Avatar" style="width:100%; height: 50%;">
    <div class="container">
        <h4><b>{{user?.firstName}} {{user?.lastName}}</b></h4>
        <p>{{user?.company?.title}}</p>
    </div>
</div> -->
  <div class="card">
      <img src={{user?.image}} alt="John" style="height: 110px">
      <h2>{{user?.firstName}} {{user?.lastName}}</h2>
      <p class="title">{{user?.company?.title}}</p>
      <p>{{user?.university}}</p>
      <p><button (click)="showDetails(user.id)">Show Details</button></p>
  </div>