.container {
    display: inline-block;
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 30px;
}

.child {
    margin-right: 25px;
    display: block;
}

.loader {
    margin-top: 20%;
    margin-left: 40%;
}