<div class="parent" *ngIf="user">
  <div class="main-content">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="background-image: url({{DUMMY_PROFILE_IMAGE}}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{user.name.firstname}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img [src]="DUMMY_PROFILE_IMAGE" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="text-center" style="margin-top: 120px;">
                <h3>
                  {{user.name.firstname}} {{user.name.lastname}}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{user.address.street}}, {{user.address.city}}
                </div>
                <!-- <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{user.company.title}} - {{user.company.department}}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{user.university}}
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Account Details</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display: flex">
                        <label class="form-control-label" for="input-username">Username : </label>
                        <p> {{user.username}}</p>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display: flex">
                        <label class="form-control-label" for="input-username">Password : </label>
                        <p> {{user.password}}</p>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display: flex">
                        <label class="form-control-label" for="input-email">Email
                          address : </label>
                        <p> {{user.email}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display: flex">
                        <label class="form-control-label" for="input-first-name">First
                          name : </label>
                        <p> {{user.name.firstname}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display: flex">
                        <label class="form-control-label" for="input-last-name">Last
                          name : </label>
                        <p> {{user.name.lastname}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">House Number</label>
                        <p>{{user.address.number}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Street</label>
                        <p>{{user.address.street}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">City</label>
                        <p>{{user.address.city}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal
                          code</label>
                        <p>{{user.address.zipcode}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user" class="loader">
  <loader></loader>
</div>